* {
    padding: 0;
    margin: 0;
}

body {
    background: black;
    font-family: sans-serif;
}
p{
    font-size: 20px;
    margin: 50px auto;
    color: white;
}
h1{
    margin: 100px auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(248, 113, 35);
    font-size: 35pt;
}
h2{
    color: rgb(248, 113, 35);
    text-align: center;
}
a{
    color:rgb(248, 113, 35);
    font-weight: bold;
}
a:hover{
    color: white;
}
.mission{
    color: lightgray;
    margin: auto;
    text-align: center;    
    top: 150px;
    width: 70%;
}
.menu-bar {
    background: rgb(248, 113, 35);
    text-align: center;
    position: absolute;
    bottom: -400px;
    right: 0;
    left: 0;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li {
    width: 150px;
    margin: 10px;
    padding: 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.active, .menu-bar ul li:hover {
    background: black;
    border-radius: 3px;
}

.menu-bar .fa {
    margin-right: 8px;
}
.menu-bar-1 {
    background: rgb(248, 113, 35);
    text-align: center;
}

.menu-bar-1 ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar-1 ul li {
    width: 150px;
    margin: 10px;
    padding: 10px;
}

.menu-bar-1 ul li a {
    text-decoration: none;
    color: #fff;
}

.active, .menu-bar-1 ul li:hover {
    background: black;
    border-radius: 3px;
}

.menu-bar-1 .fa {
    margin-right: 8px;
}

#mySidenav a {
    position: absolute; 
    left: -100px; 
    transition: 0.3s; 
    padding: 15px; 
    width: 150px; 
    text-decoration: none;
    font-size: 20px; 
    color: white; 
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#history {
    top: 300px;
    background: rgb(240, 145, 2);
}

#team {
    top: 380px;
    background: rgb(240, 145, 2);
}
#sponsorship {
    top: 460px;
    background: rgb(240, 145, 2);
}

.aboutus {
    color: white;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 96%;
    padding: 20px;
    background: rgb(248, 113, 35);
}
@media only screen and (max-width: 540px) {
    .h1-about{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 10px;
    }
    #mySidenav a {
        position: absolute; 
        left: -100px; 
        transition: 0.3s; 
        padding: 15px; 
        width: 100px; 
        font-size: 12px; 
    }
}